.button {
  border-radius: var(--radius-base);

  &--info {
    background-color: var(--color-blue);

    &:hover {
      &::before {
        background-color: var(--color-primary);
      }
    }
  }
}
