$app-global-padding: 1em;
$app-aside-width: 460px;

// Sidebar
$app-sidebar-width: 80px;
$app-sidebar-icon-size: 1.5em;

// Header
$app-header-height: 74px;

// Font
$app-body-font-size: 16px;

$app-font-size-xs: 12px;
$app-font-size-sm: 14px;
$app-font-size-base: $app-body-font-size;
$app-font-size-md: 18px;
$app-font-size-lg: 24px;
$app-font-size-xl: 28px;

$app-font-light: 300;
$app-font-normal: 400;
$app-font-semibold: 500;
$app-font-bold: 700;

// Color
$app-color-white: #fff;
$app-color-primary: #1d1d1f;
$app-color-base: #f44c67;
$app-color-blue: #3e70ff;
$app-color-violet-dark: #2b3950;
$app-color-grey: #525a6f;
$app-color-bluegrey: #577b94;
$app-color-grey-light: #f3f4f8;

