@import "../utilities/variables";
@import "../layout/header";
@import "../layout/aside";
@import "../layout/main";
@import "../layout/footer";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 280px calc(100% - 280px);
  grid-template-areas: "header header" "aside main" "aside footer";
}

