// Global
@import "../utilities/variables";

// Layout
@import "../layout/header";
@import "../layout/sidenav";
@import "../layout/main";
@import "../layout/footer";

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-auto-columns: auto;
  grid-column-gap: $theme-gutter;
  grid-template-areas:
  "sidenav header"
  "sidenav main"
  "sidenav footer";
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
