.footer {
  align-items: center;
  background-color: map-get($u-color-grey, 'base');
  display: flex;
  grid-area: footer;
  height: $theme-footer-height;
  justify-content: center;
  text-align: center;
  width: 100%;
}
