.main {
  flex-direction: column;
  height: calc(100vh - #{$app-header-height});
  grid-area: main;
  padding: $app-global-padding;
  background-color: #ddd;
  overflow: hidden;
  overflow-y: auto;
}
