$l-sidenav-width-default: 100px;

.sidenav {
  align-items: center;
  background-color: map-get($u-color-grey, 'base');
  display: flex;
  grid-area: sidenav;
  justify-content: center;
  text-align: center;
  width: $l-sidenav-width-default;
}
