.sidebar {
  grid-area: sidebar;
  width: var(--sidebar-w);
  background-color: var(--color-base);

  .menu {
    margin-top: 0;

    &__item {
      width: 100%;
      text-align: center;
    }

    &__link {
      padding: var(--padding-base) 0;
      border-radius: 0;
      color: var(--color-white);
      font-size: var(--fs-lg);

      &:hover,
      &.is-active {
        background-color: var(--color-grey-light);
        opacity: 1;
        color: var(--color-base);
      }

      &.is-active {
        pointer-events: none;
      }
    }
  }
}
