.sidebar {
  grid-area: sidebar;
  width: var(--sidebar-w);
  background-color: var(--color-base);

  .menu {
    margin-top: var(--header-h);

    &__item {
      width: 100%;
      text-align: center;
    }

    &__link {
      padding: 1em 0;
      color: var(--color-white);
      font-size: $app-sidebar-icon-size;

      &:hover,
      &.is-active {
        background-color: rgba($app-color-white, .4);
        opacity: 1;
      }
    }
  }
}
