@import "utilities/variables";
@import "layout/header";
@import "layout/aside";
@import "layout/main";
@import "layout/footer";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: $app-font-size;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: $app-asize-width calc(100% - #{$app-asize-width});
  grid-template-areas: "header header" "aside main" "aside footer";
}

