@import "utilities/variables";
@import "utilities/mixins";

:root {
  // colors
  --color-base: $app-color-base;
  --color-primary: $app-color-primary;
  --color-white: $app-color-white;
  --color-blue: $app-color-blue;
  --color-grey: $app-color-grey;
  --color-grey-light: $app-color-grey-light;
  --color-grey-lighter: $app-color-grey-lighter;

  // padding
  --padding-base: $app-global-padding;

  // radius
  --radius-base: $app-global-radius;

  // body
  --body-bg-color: $app-color-white;
  --body-fs: $app-body-font-size;

  // Font Size
  --fs-lg: pxtoem($app-font-size-lg);

  // header
  --header-h: $app-header-height;

  // wrapper
  --sidebar-w: $app-sidebar-width;
  --aside-w: $app-aside-width;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
  color: var(--color-primary);
  font-size: var(--body-fs);
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
}

hr {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  border: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: var(--sidebar-w) calc(100% - (var(--sidebar-w)));
  grid-template-areas: "header header" "sidebar content";
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: var(--aside-w) calc(100% - (var(--aside-w)));
  grid-template-areas: "aside main";
}

@import "layout/header";
@import "layout/sidebar";
@import "layout/aside";
@import "layout/main";
@import "components/button";
@import "components/form";
